@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">我的照片墙</h1>
        <img src="~/Images/1.jpg" alt="动物图片" class="img-thumbnail">
        <img src="~/Images/2.jpg" alt="动物图片" class="img-thumbnail">
        <img src="~/Images/3.jpg" alt="动物图片" class="img-thumbnail">
    </div>
    
